<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Home Page </title>
</head>
<body>
    <nav class="flex items-center justify-between flex-wrap bg-[#334155] p-6 mb-10">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><image href="/assets/logo.png" height="54" width="54" /></svg>
          <span class="font-semibold text-xl tracking-tight">Enigma</span>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="#responsive-header" class="font-semibold block mt-6 lg:inline-block lg:mt-0 text-[#fcd34d] hover:text-white mr-6 px-2">
              Example
            </a>
          </div>
          <div>
            <a href="login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Login</a>
          </div>
        </div>
      </nav>
      
      <div class="flex ...">
        <div class="flex-1 ..."></div>
        <div class="flex-1 ...">        <img  style ="text-align:right;"src="https://i.skyrock.net/4515/19184515/pics/545350749.gif"/>
        </div>
        <div class="contents">
          <div class="flex-1 ...">        <img src="https://i.skyrock.net/4515/19184515/pics/545350749.gif"/>
          </div>
          <div class="flex-1 ...">        <img src="https://i.skyrock.net/4515/19184515/pics/545350749.gif"/>
          </div>
        </div>


      </div>

      <br><br><br>

      <div style="text-align: center;"class="flex ...">
        <div style="text-align: right;"class="flex-1 ..."> sdwk</div>
        <div class="contents">
          <div style="margin-left: 20em;"class="flex-1 ...">_</div>
          <div style="margin-right: 3em;"class="flex-1 ...">ghxa</div>
        </div>
        
      </div>
        

              
              
           
            
       
        


</html>