<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class='p-8'>
    <h1 class="text-3xl">Create a new table</h1>
    <br>
    <form action="/save_table" method="POST">
        <div class="relative w-1/3">
            <div>
                <label for="title" class='m-6 text-left'> Insert title </label>
            </div>
            <div class="absolute top-0 right-0">
                <input class="border" name="title" id="title"/>
            </div>
        </div>
        <br>
        <div class="relative w-1/3">
            <div>
                <label for="content" class='m-6'> Insert content </label>
            </div>  
            <div class="absolute top-0 right-0">
                <input class="border" name="content" id="content"/>
            </div>
        </div>
        <div class="relative w-1/3">
            <button type="submit" class='content-center m-6 px-3 border-2 border-gray-200'>Save</button>
        </div>
    </form>
    <hr><br>
    <h1 class="text-3xl"> All articles </h1>
    <br>
    @each (article in articles) 
    <h2 class="text-2xl font-bold"> {{article.id}}. {{article.title}}</h2>
    <br>
    <div class="flex">
        <div class="flex-auto text-left">
            <span> Cree le {{article.created_at.getMonth()}}/{{article.created_at.getDate()}}/{{article.created_at.getUTCFullYear()}} à {{article.created_at.getUTCHours()}}:{{article.created_at.getUTCMinutes()}}</span>
            <br>
            <span> Edité le {{article.created_at.getMonth()}}/{{article.created_at.getDate()}}/{{article.created_at.getUTCFullYear()}} à {{article.created_at.getUTCHours()}}:{{article.created_at.getUTCMinutes()}}</span>
            <br>
            <span> {{article.views}} vues </span>
            <br><br>
            <p> {{article.content}} </p>
            <br>
        </div>
        <div class="flex-auto w-64">
            <a href="/get_line/{{article.id}}"> View More </a>
        </div>
    </div>
    <br>
    @end
</body>
</html>